{{ansible_facts['dns']['nameservers']}},{{ansible_facts['domain']}},{{ansible_facts['all_ipv4_addresses']}},{{ansible_facts['all_ipv6_addresses']}},{{ansible_facts['fqdn']}},{{ansible_facts['hostname']}}
